.link-none {
    color: rgb(33, 37, 41);
    text-decoration: none;  
}
.link-none:hover {
    color: rgb(33, 37, 41);
    text-decoration: underline;
}

.map-dimensions {
    width: 450px;
    height: 450px;
}

.white-backgr {
    background-color: #f5f5f5 !important;
}

.nav-link.active {
    background-color: #f5f5f5 !important;
    border-bottom: none !important;
    border-left-color: #f5f5f5 !important;
}

.nav-tabs {
    border-bottom: none !important;
}
